.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.btn-default {
  color: #882525;
  border-color: #882525;
  transition: background-color 0.5s ease;
}

.btn-default:focus,
.btn-default.focus {
  color: #882525;
  border-color: #882525;
  transition: background-color 0.5s ease;
}
.btn-default:hover {
  color: #fff;
  background-color: #882525;
  border-color: #882525;
  transition: background-color 0.5s ease;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #882525;
  border-color: #882525;
  transition: background-color 0.5s ease;
}

.navbar {
  border-bottom: 1px solid #882525;
}

.navbar-default .navbar-brand {
  font-family: 'Special Elite', cursive;
  color: #882525;
}

.navbar-default .navbar-brand:hover {
  color: #9f5050;
  transition: color 0.5s ease;
}

.navbar-default .navbar-brand:focus {
  color: #882525;
  transition: color 0.5s ease;
}

.navbar-right li a {
  font-family: 'Inconsolata', monospace;
}

.navbar-default .navbar-right li a:hover {
  color: #882525;
  transition: color 0.5s ease;
}

.navbar-default .navbar-right li a:focus  {
  color: #777;
  transition: color 0.5s ease;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('../img/brick-header-img.jpg');
  text-align: center;
  color: white;
}

header .header-content {
  position: relative;
  /*text-align: center;*/
  padding: 100px 15px 100px;
  width: 100%;
}

header .header-content .header-content-inner .main-name {
  margin-left: -5em;
}

header .header-content .header-content-inner h1 {
  font-size: 6em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Special Elite', cursive;
}

header .header-content .header-content-inner p {
  font-family: 'Special Elite', cursive;
  font-size: 50px;
  /*text-align: justify;*/
  /*color: #D39C3F;*/
  /*margin-top: .5em;*/
}

#header-button {
  margin-top: 4em;
  margin-left: 20em;
  padding: 1em 2em 1em 2em;
  font-family: 'Inconsolata', monospace;
}

@media ( max-width: 991px ) {
  #header-button {
    margin-top: 10em;
    margin-left: 0em;
  }
  header .header-content .header-content-inner .main-name {
    margin-left: 0em;
  }
}

@media ( max-width: 736px ) {
  #header-button {
    margin-top: 4em;
    margin-left: 0em;
  }
  header .header-content .header-content-inner .main-name {
    margin-left: 0em;
  }
}

@media ( max-width: 667px ) {
   #header-button {
    margin-top: 2.5em;
    margin-left: 0em;
  }
  header .header-content .header-content-inner .main-name {
    margin-left: 0em;
  }
}

@media ( max-width: 568px ) {
  #header-button {
    margin-top: -1em;
  }
  header .header-content .header-content-inner .main-name {
    margin-left: 0em;
  }
}

@media ( max-width: 400px ) {
  #header-button {
    margin-top: 2em;
  }
  header .header-content .header-content-inner .main-name {
    margin-left: 0em;
  }
}

@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner p {
    font-size: 50px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-heading {
  font-family: 'Special Elite', cursive;
  font-weight: 700;
  padding-bottom: 1em;
  color: #777;
}

#about {
  display: block;
  padding: 70px 0;
}

#about-text {
  font-family: 'Inconsolata', monospace;
}

.section-border {
  border-bottom: 1px solid #882525;
}

@media ( max-width: 768px ) {
  .section-border {
    width: 80%;
  }
}

#work {
  display: block;
  padding: 70px 0;
}


.individual-painting-container {
  overflow: hidden;
  /*border-right: 1px solid #777;*/
  /*border-bottom: 1px solid #777;*/
  text-align: center;
  /*margin: .5em;*/
  /*padding-top: 1em;*/
  /*padding-left: 3px;
  padding-right: 3px;*/
}

.individual-painting-container img {
  margin: 0 auto;
  display: block;
  /*width: 100%;*/
  /*border: 1px solid #777;
  padding: 1em;*/
  height: 60%;
}

.index-painting-caption {
  font-family: 'Inconsolata', monospace;
  font-style: italic;
  color: #777;
}

@media ( max-width: 760px ) {
  .individual-painting-container {
    text-align: center;
  }

  .individual-painting-container img {
    width: 80%;
    margin: 0 auto;
  }
}

#more-work-button-container {
  text-align: center;
}

#more-work-button-container a {
  margin: 60px auto 0;
}

#see-more-work-button {
  padding: 1em 2em 1em 2em;
  font-family: 'Inconsolata', monospace;
}

#news {
  display: block;
  padding: 70px 0;
}

#news h2 {
  font-family: 'Special Elite', cursive;
  color: #777;
}

.index-news-container {
  width: 60%;
  margin: 0 auto;
}

.individual-news-container {
  border: 1px solid #777;
  margin: 2em 0em 1em 0em;
  padding: 1em;
  font-family: 'Inconsolata', monospace;
}

.individual-news-container h4 {
  color: #882525;
}

.individual-news-container p {
  color: #777;
}

.individual-news-container a {
  color: #D39C3F;
}

.individual-news-container a:hover {
  text-decoration: none;
  color: #882525;
  transition: color 0.5s ease;
}

#bottom-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/bottom-img.jpeg');
  height: 50vh;
}

#contact {
  display: block;
  padding: 70px 0;
}

#email {
  font-family: 'Inconsolata', monospace;
  color: #882525;
  margin-bottom: 1.5em;
}

#twitter-link {
  margin-right: 4em;
  color: #882525;
}

#insta-link {
  color: #882525;
}

#twitter-link:hover {
  color: #9f5050;
  transition: color 0.5s ease;
}

#insta-link:hover {
  color: #9f5050;
  transition: color 0.5s ease;
}

#copyright p {
  font-family: 'Inconsolata', monospace;
  font-size: .75em;
  color: #777;
}

/* Works index page styles */


#works-header {
  text-align: center;
  display: block;
  margin-top: 5em;
  font-family: 'Special Elite', cursive;
  color: #882525;
}

.works-section {
  padding-top: 1em;
}

.painting-container {
  overflow: hidden;
  text-align: center;
  padding: 2em;
  border: 2px solid #777;
  margin: 1em;
  font-family: 'Inconsolata', monospace;
  color: #777;
}

.painting-container img {
  height: 60%;
}

.divider {
  font-weight: 700;
  color: #882525;
  font-style: normal;
}

@media (max-width: 1500px) {
  #parapet {
    width: 100%;
  }
}

@media ( max-width: 750px ) {
  .big-painting {
    width: 100%;
  }
}

.painting-caption {
  padding-top: .75em;
  font-size: 1em;
}

.painting-name {
  font-family: 'Inconsolata', monospace;
  font-style: italic;
}

/* News Page styling */

#news-header {
  text-align: center;
  display: block;
  margin-top: 5em;
  font-family: 'Special Elite', cursive;
  color: #882525;
}

.news-section {
  padding-top: 1em;
}

.news-container {
  overflow: hidden;
  padding: 2em;
  border: 2px solid #777;
  margin: 1em;
  font-family: 'Inconsolata', monospace;
  color: #777;
}

.news-container h4 {
  text-align: center;
  font-family: 'Inconsolata', monospace;
  color: #882525;
}

#chasma-address-info {
  text-align: center;
}

.news-container p {
  font-family: 'Inconsolata', monospace;
  color: #777;
}